/* You can add global styles to this file, and also import other style files */
$color-primary: black;
$color-secondary: red;
$color-tertiary: grey;


.mat-toolbar{
  background: $color-primary;
  color: $color-secondary;
}

.mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: $color-tertiary;
  color: $color-primary;
  border-radius: 10px;
  padding:16px;
  text-align:center;
}

.content{
  heigth:calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;

  display:flex;
  justify-content: center;
  align-items: center;


  background: $color-tertiary;
  color:lightgray;


}
//mat-sidenav-container{
//  height:calc(100vh - 65px)
//}

.menu-button{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon{
    margin-right: 8px;
  }
}


//.mat-tab {
//  background-color: $color-primary;
//  color: white;
//}


//
//.mat-body{
//  background-color: $color-primary;
//  color: $color-tertiary;
//  &:hover {
//    background-color: lighten($color-primary, 20);
//  }
//}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


