 <mat-card>
    <mat-card-title>Tegenstander: {{wedstrijden[0].opponent}}</mat-card-title>
    <mat-card-content>Datum: {{wedstrijden[0].date}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Tegenstander: {{wedstrijden[1].opponent}}</mat-card-title>
    <mat-card-content>Datum: {{wedstrijden[1].date}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Tegenstander: {{wedstrijden[2].opponent}}</mat-card-title>
    <mat-card-content>Datum: {{wedstrijden[2].date}}</mat-card-content>
  </mat-card>
