<mat-card class="mat-body" *ngFor="let match of matches" style="margin-top:10px">
  <mat-card-title>Tegenstander: {{match.opponent}}</mat-card-title>
  <mat-card-content>Datum: {{match.date}}</mat-card-content>
  <mat-card-footer>
    <button mat-raised-button type="editButton" (click)="updateMatch(match.id)">Edit</button>
    <button mat-raised-button type="deleteButton" (click)="deleteMatch(match.id)">Delete</button>
  </mat-card-footer>
</mat-card>
<hr>
<form [formGroup]="newMatchForm">
  <table><tr>
      <td>
        <mat-form-field>
          <mat-label>Tegenstander</mat-label>
          <input formControlName="opponent" matInput id="opponent" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input formControlName="date" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button id="submitButton" type="submit" (click)="addMatch()">Add Match</button>
</form>





